SUPABASE_REST_MODE=true
SUPABASE_URL=https://nrbsmyudmezslzolmakj.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_JUR03hl-KMDkqJyoVCdmZQ_anI4mlKk
AUTH_USERNAME=admin
AUTH_PASSWORD=m2icomercial
AUTH_SECRET=3456ygvcdrtyjnbvftgcdswerfdswe45tygftyuhbvftyuhvfrty
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yYnNteXVkbWV6c2x6b2xtYWtqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDY3MTUyNSwiZXhwIjoyMDk2MjQ3NTI1fQ.tg8KOhL2WoNaBw2czRwHf6o5H6NpCm6Sij62lRJ9Mek